@using Oqtane.Modules.Controls
@using Oqtane.Survey.Services
@using Oqtane.Survey.Models

@namespace Oqtane.Survey
@inherits ModuleBase
@inject ISurveyService SurveyService
@inject NavigationManager NavigationManager

<table class="table table-borderless">
    <tr>
        <td>
            <Label For="name" HelpText="Enter a name">Name: </Label>
        </td>
        <td>
            <input id="name" class="form-control" @bind="@_name" />
        </td>
    </tr>
</table>
<button type="button" class="btn btn-success" @onclick="Save">Save</button>
<NavLink class="btn btn-secondary" href="@NavigateUrl()">Cancel</NavLink>
<br />
<br />
@if (PageState.Action == "Edit")
{
    <AuditInfo CreatedBy="@_createdby" CreatedOn="@_createdon" ModifiedBy="@_modifiedby" ModifiedOn="@_modifiedon"></AuditInfo>
}

@code {
    public override SecurityAccessLevel SecurityAccessLevel => SecurityAccessLevel.Edit;

    public override string Actions => "Add,Edit";

    public override string Title => "Manage Survey";

    public override List<Resource> Resources => new List<Resource>()
    {
        new Resource { ResourceType = ResourceType.Stylesheet, Url = ModulePath() + "Module.css" }
    };

    int _id;
    string _name;
    string _createdby;
    DateTime _createdon;
    string _modifiedby;
    DateTime _modifiedon;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (PageState.Action == "Edit")
            {
                _id = Int32.Parse(PageState.QueryString["id"]);
                Survey Survey = await SurveyService.GetSurveyAsync(_id, ModuleState.ModuleId);
                if (Survey != null)
                {
                    _name = Survey.Name;
                    _createdby = Survey.CreatedBy;
                    _createdon = Survey.CreatedOn;
                    _modifiedby = Survey.ModifiedBy;
                    _modifiedon = Survey.ModifiedOn;
                }
            }
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading Survey {SurveyId} {Error}", _id, ex.Message);
            AddModuleMessage("Error Loading Survey", MessageType.Error);
        }
    }

    private async Task Save()
    {
        try
        {
            if (PageState.Action == "Add")
            {
                Survey Survey = new Survey();
                Survey.ModuleId = ModuleState.ModuleId;
                Survey.Name = _name;
                Survey = await SurveyService.AddSurveyAsync(Survey);
                await logger.LogInformation("Survey Added {Survey}", Survey);
            }
            else
            {
                Survey Survey = await SurveyService.GetSurveyAsync(_id, ModuleState.ModuleId);
                Survey.Name = _name;
                await SurveyService.UpdateSurveyAsync(Survey);
                await logger.LogInformation("Survey Updated {Survey}", Survey);
            }
            NavigationManager.NavigateTo(NavigateUrl());
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Saving Survey {Error}", ex.Message);
            AddModuleMessage("Error Saving Survey", MessageType.Error);
        }
    }
}
